<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
	<testsuites>
		<testsuite>
			<directory prefix="tests-" suffix=".php">./tests/</directory>
			<directory prefix="tests-" suffix=".php">./tests/crud</directory>
			<directory prefix="tests-" suffix=".php">./tests/api</directory>
            <directory prefix="tests-" suffix=".php">./tests/utilities</directory>
            <directory prefix="tests-" suffix=".php">./tests/objects</directory>
            <directory prefix="tests-" suffix=".php">./tests/price</directory>
		</testsuite>
	</testsuites>
</phpunit>
