.btn-primary a {
    color: white;
}

label.btn.btn-primary:hover {
    background: #e6e6e6;
}

label.btn.btn-primary:hover a {
    color: #337ab7;
}

#notices{
    margin-top: 24px;
}

#notices .alert {
    text-align: center;
}
