<div class="row">
<a ui-sref="clickTests.edit({groupID:group_id})" class="btn btn-warning pull-right">
    {{translate.groups.edit}}
</a>
<h2>{{translate.stats.stats_for}} {{names.group}}</h2>

<div ng-show="!stats_exist">
    <h3 class="error">
       {{translate.stats.no_stats}}
    </h3>
</div>
<div id="stats-summary" ng-show="stats_exist">
    <div class="row">
        <div class="col-sm-10 col-sm-push-2">
            <h4>{{translate.stats.group_header}}</h4>
        </div>

    </div>
    <div class="row" id="group-summary-headers">
        <div class="col-sm-3 col-sm-push-2 stats-grid">
            {{translate.stats.group_total}}
        </div>
        <div class="col-sm-3 col-sm-push-2 stats-grid">
            {{translate.stats.group_conversions}}
        </div>
        <div class="col-sm-3 col-sm-push-2 stats-grid">
            {{translate.stats.g_c_rate}}
        </div>
    </div>
    <div class="row" id="group-summary">
        <div class="col-sm-3 col-sm-push-2 stats-grid">
            {{stats.group.total}}
        </div>
        <div class="col-sm-3 col-sm-push-2 stats-grid">
            {{stats.group.conversions}}
        </div>
        <div class="col-sm-3 col-sm-push-2 stats-grid">
            {{stats.group.conversion_rate}}%
        </div>

    </div>
</div>
<div id="chartWrapper" ng-show="stats_exist">
    <canvas id="ingotChart" width="600" height="400"></canvas>
</div>
</div>
