<h2>
    {{translate.groups.click_group_page_title}}
</h2>
<ul class="list-inline">
    <li>
        <a ui-sref="clickTests.list" class="btn btn-default">
            {{translate.groups.show_all}}
        </a>
    </li>
    <li>
        <a ui-sref="clickTests.new" class="btn btn-default">
            {{translate.groups.create_new}}
        </a>
    </li>
</ul>

<hr />

<div ng-show="main_click_tests_page" class="row" ng-controller="clickGroups">
    <div class="col-sm-12" ng-bind-html="description"></div>
</div>

<div ui-view></div>
