<div ng-controller="clickGroup">
    <h2>
        <span ng-show="!new_group">
            {{translate.group.content_test}}: {{group.name}}
        </span>
        <span ng-show="new_group">
            {{translate.group.new_content_test}}
        </span>
        <span ng-show="!new_group">
            <a ui-sref="clickTests.stats({groupID:group.ID})" class="btn btn-warning pull-right">
                {{translate.groups.stats}}
            </a>
        </span>
    </h2>
    <ul class="progress-indicator">
        <li ng-click="change_step(1)" ng-class="{'active': group_step == 1, 'completed': group_step > 1 || !new_group }">
            <span class="bubble"></span>
            {{translate.group.name}}
        </li>
        <li ng-click="change_step(2)" ng-class="{'active': group_step == 2, 'completed': group_step > 2 || !new_group  }">
            <span class="bubble"></span>
            {{translate.group.type}}
        </li>
        <li ng-click="change_step(3)" ng-class="{'active': group_step == 3, 'completed': group_step > 3 || !new_group }">
            <span class="bubble"></span>
            {{translate.group.data_and_tests}}
        </li>
    </ul>
    <h3 class="text-center">
        <span ng-show="group_step == 1">
             {{translate.group.group_name}}
        </span>
        <span ng-show="group_step == 2">
            {{translate.group.group_type}}
        </span>
        <span ng-show="group_step == 3">
            {{translate.group.group_data_and_tests}}
        </span>
    </h3>
    <form ng-submit="submit()" class="simple-form">
        <div ng-show="group_step == 1">
            <p class="text-center">
                {{translate.group.test_name_instructions}}
            </p>
            <div class="row group-type-select">
                <div class="col-sm-3">
                    <label for="test_name" class="control_label">
                        {{translate.group.test_name}}
                    </label>
                </div>
                <input id="test_name" ng-model="group.name" class="col-sm-9" ng-required="true" />
            </div>
            <span class="btn btn-primary pull-right" ng-click="change_step(2)" ng-hide="!group.name">
                {{translate.group.edit_group_type}}
            </span>
        </div>
        <div class="row" ng-show="group_step == 2">
            <div class="col-sm-12">
                <p class="text-center">
                    {{translate.group.type_instructions}}
                </p>
                <div class="row group-type-select">
                    <div class="col-sm-6" ng-repeat="type in click_type_options track by $index">
                        <div class="group-wrapper" ng-class="{'active': type.value == group.sub_type}">
                            <h3>
                                {{type.label}}
                            </h3>
                            <p ng-if="type.description">
                                {{type.description}}
                            </p>
                            <span class="btn btn-primary btn-block" ng-click="choose_group_type(type.value)" ng-class="{'btn-success': type.value == group.sub_type}">
                                {{type.label}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <span class="btn btn-primary pull-left" ng-click="change_step(1)">
                {{translate.group.test_name}}
            </span>
            <span class="btn btn-primary pull-right" ng-click="change_step(3)" ng-hide="!group.sub_type">
                {{translate.group.edit_group_tests}}
            </span>
        </div>
        <div class="row group-type-select" ng-show="group_step == 3">
            <div ng-if="has_type()" ng-include="partials_url + '/content-test-partials/' + group.sub_type + '.html'"></div>
            <span class="btn btn-primary pull-left" ng-click="change_step(2)">
                {{translate.group.edit_group_type}}
            </span>
            <button type="submit" class="btn btn-primary pull-right">
                {{translate.group.save_group}}
            </button>
        </div>
    </form>
</div>
