<h2>
    {{translate.groups.click_group_page_title}}
</h2>
<ul class="list-inline">
    <li>
        <a ui-sref="clickTests.list" class="btn btn-default">
            {{translate.groups.show_all}}
        </a>
    </li>
    <li>
        <a ui-sref="clickTests.new" class="btn btn-default">
            {{translate.groups.create_new}}
        </a>
    </li>
</ul>

<hr />

<div ng-show="main_click_tests_page" class="row">
	<h3>Content tests change some type of content -- text, colors, images, etc. to see what leads to the most conversions. </h3>
    <h4>Currently Supported Content Test Types:</h4>
    <ul>
        <li>
            <em>Link:</em> Test the text of a link.
        </li>
        <li>
            <em>Button:</em> Test the text of a button.
        </li>
        <li>
            <em>Button Color:</em> Test the color of a button.
        </li>
    </ul>
    <h4>Content Test Types Coming Soon:</h4>
    <ul>
        <li>
            <em>Images & Featured Images</em>
        </li>
        <li>
            <em>Forms & Form Layouts</em>
        </li>
        <li>
            <em>Sales Funnels</em>
        </li>
    </ul>
</div>

<div ui-view></div>
