<div ng-repeat="group in groups track by $index" class="col-md-6 group-panel-wrapper">
    <div class="group-panel">
        <div class="row">
            <div class="col-sm-9" ng-if="group.name">
                <h5>{{group.name}}</h5>
            </div>
            <div class="col-sm-9" ng-if="!group.name">
                <h5>{{group.ID}}</h5>
            </div>
            <div ng-include="partials_url + '/list-partials/' + group.type + '.html'"></div>
        </div>
        <div ng-mouseenter="enter(group.ID)" ng-mouseleave="exit(group.ID)" style="height:24px;margin-bottom: 5px;">
            <pre id="shortcode-pre-{{group.ID}}" style="padding:0px;">
                [ingot id="{{group.ID}}"]
            </pre>
            <button class="btn btn-info" ngclipboard data-clipboard-text="[ingot id=&quot;{{group.ID}}&quot;]" id="shortcode-copy-{{group.ID}}" style="width: 100%; display: none;visibility: hidden;" aria-hidden="true">
                {{translate.groups.click_copy}}
            </button>
        </div>
    </div>
</div>

<div class="paginate text-right" ng-show="total_pages.length > 1">
    <i>
        {{translate.groups.page}}:
    </i>
	<a ng-click="paginate( $index, $event )" ng-repeat="page in total_pages track by $index" class="btn btn-default" ng-class="{true: 'active'}[$index == 0]">
        {{$index + 1}}
    </a>
</div>
