<ul>
    <li ng-repeat="group in groups">
        <h5>{{ group.group_name }}</h5>

        <div class="btn-group">
            <label class="btn btn-primary">
                <a ui-sref="priceTests.edit({groupID:group.ID})">
                    {{ 'groups.edit' | translate }}
                </a>
            </label>
            <label class="btn btn-primary">
                {{ 'groups.stats' | translate }}
            </label>
            <label class="btn btn-primary">
                {{ 'groups.delete' | translate }}
            </label>
        </div>
    </li>
</ul>
