<div ng-controller="priceGroup">
    <form ng-submit="submit()" class="simple-form">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <ul class="list-inline">
                    <li>
                        <input type="submit" value="Save Group" id="save-group" class="btn btn-primary" />
                    </li>
                    <li>
                        {{group.name}}
                    </li>
                    <li>
                        {{group.ID}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h4 translate>
                    {{translate.group.group_settings_header}}
                </h4>
                <div class="form-group row">
                    <label for="name" class="col-md-4 col-sm-12">
                        {{translate.group.name}}
                    </label>
                    <input id="name" type="text" ng-model="group.group_name" class="col-md-8 col-sm-12" ng-required="true" />
                </div>
                <div class="form-group row">
                    <label for="plugin" class="col-md-4 col-sm-12">
                        {{translate.group.plugin}}
                    </label>
                    <select  id="plugin" class="col-md-8 col-sm-12" ng-model="group.sub_type" ng-change="products()">
                        <option ng-repeat="option in plugins" ng-selected="group.sub_type == option.value" value="{{option.value}}" ng-required="true">
                            {{option.label}}
                        </option>
                    </select>
                </div>
                <div class="form-group row" ng-show="products.length > 0">
                    <label for="product" class="col-md-4 col-sm-12">
                        {{translate.group.product}}
                    </label>
                    <select id="product"  class="col-md-8 col-sm-12" ng-model="group.meta.product_ID" ng-required="true" ng-change="getBasePrice()">
                        <option ng-repeat="option in products" ng-selected="group.meta.product_ID == option.value" value="{{option.value}}">
                            {{option.label}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <h4>
                    {{translate.group.tests_header}}
                </h4>
                <div id="tests" ng-repeat="variant in group.variants track by $index">
                    <div id="{{variant.ID}}">
                        <div class="form-group row">
                            <label for="variation-{{variant.ID}}-calculated-price" class="col-md-4 col-sm-12">
                                {{translate.group.result_price}}
                            </label>
                             <div id="variation-{{variant.ID}}-calculated-price" class="calculated-price" ng-bind="variant.price"></div>
                        </div>
                        <div class="form-group row">
                            <label for="variation-{{variant.ID}}" class="col-md-4 col-sm-12">
                                {{translate.group.price_variation}}
                            </label>
                            <div class="slider-{{variant.ID}}-val col-md-2 col-sm-6">0%</div>
                            <div id="variation-{{variant.ID}}" class="slider-{{variant.ID}} col-md-6 col-sm-6" data-index="{{$index}}"></div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-default btn-block" ng-click="addNewTest()" href="" ng-show="group.meta.product_ID" id="add-price-variant">
                    {{translate.group.add_price_test}}
                </a>
            </div>


        </div>

    </form>
</div>
