
<ul class="list-inline">
    <li>
        <h2>
            {{ 'groups.price_group_page_title' | translate }}
        </h2>
    </li>
    <li>
        <a ui-sref="priceTests.list" class="btn btn-default">
            {{ 'groups.show_all' | translate }}
        </a>
    </li>
    <li>
        <a ui-sref="priceTests.new" class="btn btn-default">
            {{ 'groups.create_new' | translate }}
        </a>
    </li>
</ul>
<div class="alert alert-info" role="alert"><strong>Price Testing Is Still Under Development -- Use With Care</strong></div>
<hr />

<div ui-view></div>
