<ul>
    <li ng-repeat="group in groups track by $index" ng-if="groups !== 'No matching groups found.'">
        <h5>{{ group.group_name }}</h5>

        <div class="btn-group">
            <label class="btn btn-primary">
                <a ui-sref="priceTests.edit({groupID:group.ID})">
                    {{translate.groups.edit}}
                </a>
            </label>
            <label class="btn btn-primary">
                {{translate.groups.stats}}
            </label>
            <label class="btn btn-primary">
                {{translate.groups.delete}}
            </label>
        </div>
    </li>
    <li ng-if="!groups.legnth">
        {{translate.groups.no_groups}}
    </li>
</ul>
