<div ng-controller="priceGroup">
    <form ng-submit="submit()" class="simple-form">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <ul class="list-inline">
                    <li>
                        <input type="submit" value="Save Group" id="save-group" class="btn btn-primary" />
                    </li>
                    <li>
                        {{ group.name }}
                    </li>
                    <li>
                        {{  group.ID }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h4 translate>
                    {{translate.group.group_settings_header}}
                </h4>
                <div class="form-group row">
                    <label for="name" class="col-md-4 col-sm-12">
                        {{translate.group.name}}
                    </label>
                    <input id="name" type="text" ng-model="group.group_name" class="col-md-8 col-sm-12" ng-required="true" />
                </div>
                <div class="form-group row">
                    <label for="plugin" class="col-md-4 col-sm-12">
                        {{translate.group.plugin}}
                    </label>
                    <select  id="plugin" class="col-md-8 col-sm-12" ng-model="group.plugin" ng-change="products()">
                        <option ng-repeat="option in plugins" ng-selected="group.plugin == option.value" value="{{option.value}}" ng-required="true">
                            {{option.label}}
                        </option>
                    </select>
                </div>
                <div class="form-group row" ng-show="products.length > 0">
                    <label for="product" class="col-md-4 col-sm-12">
                        {{translate.group.product}}
                    </label>
                    <select id="product"  class="col-md-8 col-sm-12" ng-model="group.product" ng-required="true">
                        <option ng-repeat="option in products" ng-selected="group.product == option.value" value="{{option.value}}">
                            {{option.label}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <h4>
                    {{translate.group.tests_header}}
                </h4>
                <div id="tests" ng-repeat="test in group.tests track by $index" ng-if="test.ID">
                    <div id="{{test.ID}}">
                        <div class="form-group row" >
                            <label for="variation-{{test.ID}}" class="col-md-4 col-sm-12">
                                {{translate.group.price_variation}}
                            </label>
                            <div class="slider-{{test.ID}}-val col-md-2 col-sm-6">0%</div>
                            <div class="slider-{{test.ID}} col-md-6 col-sm-6" data-index="{{$index}}"></div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-default btn-block" ng-click="addNewTest()" href="" ng-show="group.product">
                    {{translate.group.add_test}}
                </a>
            </div>


        </div>

    </form>
</div>
