<ul class="list-inline">

    <li>
        <h2>
            {{translate.groups.price_group_page_title}}
        </h2>
    </li>
    <li>
        <a ui-sref="priceTests.list" class="btn btn-default">
            {{translate.groups.show_all}}
        </a>
    </li>
    <li>
        <a ui-sref="priceTests.new" class="btn btn-default" ng-show="possible">
            {{translate.groups.create_new}}
        </a>
    </li>
</ul>

<div ng-show="main_price_tests_page" class="row">
    <div class="col-sm-12">
        <h3>
            {{translate.descriptions.price_testing}}
        </h3>
        <ul ng-repeat="plugin in plugins track by $index" ng-controller="priceGroups">
            <li>
                <img ng-src="{{plugin.logo}}" class="plugin-logo"/><span class="plugin-name">{{plugin.label}}</span>
                <div ng-hide="plugin.active">
                    {{translate.groups.inactive}}
                </div>
            </li>
        </ul>
    </div>

</div>

<hr />

<div ui-view></div>
