<div ng-controller="settings">
    <form ng-submit="submit()" class="simple-form">
        <ul class="list-inline">
            <li>
                <h3>{{translate.settings.page_header}}</h3>
            </li>
            <li>
                <input type="submit" class="btn btn-primary" value="{{translate.settings.save}}">
            </li>
        </ul>

        <div class="form-settings">
            <label for="anon_tracking">
                {{translate.settings.anon_tracking_label}}
            </label>
            <input id="anon_tracking" type="checkbox" ng-model="settings.anon_tracking" ng-true-value="'1'" ng-false-value="'0'" />
            <p>
                {{translate.settings.anon_tracking_desc}}
            </p>

        </div>

        <div class="form-settings">
            <label for="license_code">
                {{translate.settings.license_code_label}}
            </label>

            <input id="license_code" type="text" ng-model="settings.license_code" />
            <p>
                {{translate.settings.license_code_desc}}
            </p>
            <div ng-show="1 == settings.license_valid">
                <p class="alert alert-success" style="display: inline-block;">
                    {{translate.settings.license_active}}
                </p>
            </div>
            <div ng-show="0 == settings.license_valid">
                <p class="alert alert-danger" style="display: inline-block;">
                    {{translate.settings.license_notice}}
                </p>
            </div>


        </div>
    </form>
</div>
