<div ng-controller="settings">
    <form ng-submit="submit()" class="simple-form">
        <ul class="list-inline">
            <li>
                <h3>{{translate.settings.page_header}}</h3>
            </li>
            <li>
                <input type="submit" class="btn btn-primary" value="{{translate.settings.save}}">
            </li>
        </ul>

        <div class="form-settings">
            <label for="anon_tracking">
                {{translate.settings.anon_tracking_label}}
            </label>
            <input id="anon_tracking" type="checkbox" ng-model="settings.anon_tracking" ng-true-value="'1'" ng-false-value="'0'" />
            <p>
                {{translate.settings.anon_tracking_desc}}
            </p>

        </div>

    </form>
</div>
