<div ng-controller="welcome">


    <div class="row">
        <div class="sm-col-12" id="notices">
            <div ng-show="0 == welcome.settings.license_valid" class="alert alert-danger">
                    <a ui-sref="settings" class="alert-link">
                        {{translate.settings.license_notice}}
                    </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="welcome-jumbotron jumbotron sm-col-12">
            <h1 ng-bind="welcome.header"></h1>

            <h3 ng-bind="welcome.links_header"></h3>
            <ul class="list-inline">
                <li>
                    <a href="http://ingothq.com">
                        {{translate.welcome.learn_more}}
                    </a>
                </li>
                <li>
                    <a ui-sref="clickTests">
                        {{translate.welcome.click_tests}}
                    </a>
                </li>
                <li>
                    <a ui-sref="priceTests">
                        {{translate.welcome.price_tests}}
                    </a>
                </li>
                <li>
                    <a href="http://ingothq.com/docs/" target="_blank">
                        {{translate.welcome.docs}}
                    </a>
                </li>
                <li>
                    <a href="http://ingothq.com/customersupport/" target="_blank">
                        {{translate.welcome.support}}
                </li>
            </ul>
        </div>
    </div>
<!--

    <h3 ng-bind="welcome.video_header"></h3>

    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="" allowfullscreen>></iframe>
    </div>
    -->
</div>
