<div class="form-group row group-type-select">
    <div class="col-sm-6">
        <div class="form-group row">
            <label for="link" class="col-md-4 col-sm-12">
                {{translate.group.link_label_group_setting}}
            </label>
            <input id="link" type="url" ng-model="group.meta.link" class="col-md-8 col-sm-12" ng-required="true" />
        </div>
        <hr />
        <div class="form-group row">
            <div class="col-sm-12 text-center">
                <span class="btn btn-default" ng-style="buttonStyle(variant.ID, group.sub_type)">
                    {{translate.group.sample_button}}
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label for="button_test_color" class="col-md-4 col-sm-12">
                {{translate.group.color_label_group_setting}}
            </label>
            <input colorpicker="hex" id="button_test_color" type="text" ng-model="group.meta.color" class="col-md-8 col-sm-12" />
        </div>
        <div class="form-group row">
            <label for="button_test_background_color" class="col-md-4 col-sm-12">
                {{translate.group.background_color_label_group_setting}}
            </label>
            <input colorpicker="hex" id="button_test_background_color" type="text" ng-model="group.meta.background_color" class="col-md-8 col-sm-12" />
        </div>
    </div>
    <div class="col-sm-6">
        <div id="tests" ng-repeat="variant in group.variants track by $index">
            <div id="test-{{variant.ID}}">
                <ng-form name="innerForm">
                    <div class="form-group row">
                        <label for="text-{{variant.ID}}" class="col-sm-3">
                            {{translate.group.text_label_test_setting}}
                        </label>
                        <input name="text" type="text" id="text-{{variant.ID}}" ng-model="variant.content" class="col-sm-7" ng-required="true" />
                        <div class="col-sm-2 text-right">
                            <span ng-click="removeTest( $index )" class="delete" title="{{translate.group.delete}}">
                                <i class="fa fa-minus-circle"></i>
                            </span>
                        </div>
                    </div>
                </ng-form>
            </div>
        </div>
        <a class="btn btn-default btn-block add-new-test" ng-click="addNewTest()" ng-href="">
            {{translate.group.add_test}}
        </a>
    </div>
</div>
