<div class="form-group row group-type-select">
    <div class="col-sm-6">
        <div class="form-group row">
            <label for="link" class="col-md-4 col-sm-12">
                {{ 'group.link_label_group_setting' | translate }}
            </label>
            <input id="link" type="text" ng-model="group.link" class="col-md-8 col-sm-12" ng-required="true" />
        </div>
        <hr />
        <div class="form-group row">
            <div class="col-sm-12 text-center">
                <span class="btn btn-default" ng-style="buttonStyle(test.ID, group.click_type)">Sample Button</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="button_test_color" class="col-md-4 col-sm-12">
                {{ 'group.color_label_group_setting' | translate }}
            </label>
            <input colorpicker="hex" id="button_test_color" type="text" ng-model="group.meta.color" class="col-md-8 col-sm-12" />
        </div>
        <div class="form-group row">
            <label for="button_test_background_color" class="col-md-4 col-sm-12">
                {{ 'group.background_color_label_group_setting' | translate }}
            </label>
            <input colorpicker="hex" id="button_test_background_color" type="text" ng-model="group.meta.background_color" class="col-md-8 col-sm-12" />
        </div>
    </div>
    <div class="col-sm-6">
        <div id="tests" ng-repeat="test in group.tests track by $index">
            <div id="test-{{test.ID}}">
                <ng-form name="innerForm">
                    <div class="form-group row">
                        <label for="text-{{test.ID}}" class="col-sm-3">
                            {{ 'group.text_label_test_setting' | translate }}
                        </label>
                        <input name="text" type="text" id="text-{{test.ID}}" ng-model="test.text" class="col-sm-7"/>
                        <div class="col-sm-2 text-right">
                            <a ng-click="removeTest( test.ID )" class="delete" ng-href="" title="{{ 'group.delete' | translate }}">
                                <i class="fa fa-minus-circle"></i>
                            </a>
                        </div>
                    </div>
                </ng-form>
            </div>
        </div>
        <a class="btn btn-default btn-block add-new-test" ng-click="addNewTest()" ng-href="">
            {{ 'group.add_test' | translate }}
        </a>
    </div>
</div>