<div class="form-group row group-type-select">
    <div class="col-sm-6">
        <label for="link" class="col-md-4 col-sm-12">
            {{translate.group.link_label_group_setting}}
        </label>
        <input id="link" type="url" ng-model="group.meta.link" class="col-md-8 col-sm-12" ng-required="true" />
    </div>
    <div class="col-sm-6">
        <div id="tests" ng-repeat="variant in group.variants track by $index">
            <div id="test-{{variant.ID}}">
                <ng-form name="innerForm">
                    <div class="form-group row">
                        <label for="text-{{variant.ID}}" class="col-sm-3">
                            {{translate.group.text_label_test_setting}}
                        </label>
                        <input name="text" type="text" id="text-{{variant.ID}}" ng-model="variant.content" class="col-sm-7"/>
                        <div class="col-sm-2 text-right">
                            <a ng-click="removeTest( variant.ID )" class="delete" ng-href="" title="{{translate.group.delete}}">
                                <i class="fa fa-minus-circle"></i>
                            </a>
                        </div>
                    </div>
                </ng-form>
            </div>
        </div>
        <a class="btn btn-default btn-block add-new-test" ng-click="addNewTest()" ng-href="">
            {{translate.group.add_test}}
        </a>
    </div>
</div>
